.table-record {
  background-color: lightgreen;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  min-width: 40rem;
  width: 85%;
}
ul{
  flex-direction: row;
}
svg{
  width: 2rem;
}
.table-record-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}